@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --dark-cyan: hsl(192, 100%, 9%);
    --pale-lue: hsl(207, 100%, 98%);
}

/* font-family: "Poppins", serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--dark-cyan);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font: 14px;
    text-align: center; 
    padding-top: 25px;
}

img, svg, picture{
    max-width: 100%;
}

h1{
    font-family: "Poppins", serif;
    font-weight: 700;
    padding-bottom: 25px;
}

h2{
    font-size: 60px;
    font-weight: 700;
}

h3{
    font-size: 20px;
    font-family: "Poppins", serif;
    font-weight: 700;
    padding-top: 70px;
}

h4{
    font-size: 25px;
    font-variant-caps: all-petite-caps;
    font-weight: 600;
    letter-spacing: 1px;
}

.para1{
    font-size: 14px;
    font-weight: 500;
    padding: 0 0 40px 0;
}

.para2{
    color: rgb(136, 136, 136);
    padding-top: 5px;
    font-size: 14px;
    font-weight: 500;
}

.para3{
    font-size: 13.5px;
    font-weight: 500;
    line-height: 1.5;
    padding-top: 15px;
}

.para4{
    padding: 20px 0;
    line-height: 1.7;
    font-size: 14px;
    color: var(--pale-lue);
}

.container{
    width: 90%;
    max-width: 19.5rem;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo-img{
    width: 99px;
}

.section-one{
    padding-top: 100px;
    margin-bottom: -30px;
}

.bg-pattern{
    width: 300px;
}

.btn{
    background-color: white;
    color: var(--pink);
    border: 1px solid var(--pink);
    border-radius: 100px;
    padding: 6px 20px;
    font-size: 11px;
}

.btn:hover{
    box-shadow: 0 0 0.2rem var(--light-pink); 
    color: var(--light-pink);
    border: 1px solid var(--light-pink);
}

.btn-1{
    background-color: var(--pink);
    border: none;
    border-radius: 100px;
    color: var(--pale-lue);
    box-shadow: 0 2px 2px 3px rgba(190, 190, 190, 0.2), 0 6px 20px rgba(190, 190, 190, 0.2);
    padding: 12px 35px;
    font-weight: 700;
    font-size: 13px;
    margin: 10px 0;
}

.btn-1:hover{
    background-color: var(--light-pink);
}

.intro-img{
    padding: 85px 0;
}

.communities-icon{
    width: 30px;
    display: block;
    margin-left: 70px;
}

.message-icon{
    width: 22px;
    display: block;
    margin-left: 60px;
}

.text-icons{
    padding: 40px 0;
}

.grow-img, .users-img, .flowing-img{
    width: 245px; 
}

.section-two{
    background-color: var(--pale-lue);
    margin-top: -5px;
    padding: 60px 0;
}

.curve-top, .curve-btm{
    width: 100vw;    
}

.section-three{
    padding: 130px 0 110px 0;
}

.section-four{
    background-color: var(--pale-lue);
    margin-top: -5px;
    padding: 0 0 120px 0;
}

.section-five{
    padding: 70px 0 250px 0;
}


.section-footer{
    background-color: var(--dark-cyan);
    color: var(--pale-lue);
    margin-top: -6px;
    text-align: start;
    padding: 50px 0;
    margin-top: -1;
}

.newsletter{
    padding-bottom: 100px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#email{
    width: 19rem;
    padding: 17px;
    border: none;
    border-radius: 7px;
    margin: 15px 0;
}

#email:focus{
    outline: none;
}

#email:invalid{
    border: 1px solid var(--light-red);
}

.error-message{
    display: none;
    color: var(--light-red);
    font-size: 13px;
}

#email:invalid + .error-message{
    display: block;
}

.btn-2{
    background-color: var(--pink);
    color: var(--pale-lue);
    padding: 12px 40px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.btn-2:hover{
    color: var(--light-pink);
    border: 1px solid var(--light-pink);
}

.logo-icon{
    filter: brightness(0) invert(1);
    width: 210px;
}

.footer-svg{
    padding: 35px 0;
}

.footer-svg svg{
    margin-right: 20px;
}

.footer-svg li{
    list-style-type: none;
    padding-bottom: 20px;
}

.social-icons ul{
    display: flex;
}
.social-icons li{
    list-style-type: none;
    margin-right: 25px;
}

.fab{
    font-size: 30px;
}

.fab:hover{
    color: lightblue;
}

@media only screen and (min-width: 900px){

body{
    text-align: start;
}

section{
    margin: 0;
}
.container{
    width: 100%;
    max-width: 90%;
}
.row{
    display: flex;
    margin: auto;
}

.rows{
    flex-direction: row-reverse;
}

.col{
    flex: 1;
}
h1{
    font-size: 30px;
    margin-inline: auto;
}

h2{
    font-size: 75px;
}

.para1{
    max-width: 27rem;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
}

.para3{
    max-width: 40rem;
}

.para4{
    max-width: 17.5rem;
    font-size: 12px;
}

.intro-img{
    padding: 40px 0; 
}

.bg-pattern{
    width: 623px;
}

.message-icon{
    width: 30px;
}

.communities-icon{
    width: 35px;
}

.grow-img, .users-img, .flowing-img{
    width: 495px; 
}

.section-one{
    text-align: center;
}
.text-icons{
    margin-inline: auto;
}
.btn-1{
    padding: 23px 80px;
    font-size: 16px;
}

.section-five{
    text-align: center;
    padding: 70px 0;
}

.section-footer{
    max-width: 100%;
}
.footer-svg{
    padding: 15px 0;
}
}

@media only screen and (min-width: 1200px){
    .container{
        width: 100%;
        max-width: 100%;
    }
}